@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #4700d8;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/quotes_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 16px 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.wrapper h3,
.line,
.author {
  margin-bottom: 20px;
}

.wrapper h3 {
  color: var(--color-primary);
  align-self: center;
}

.line {
  height: 2px;
  width: 100%;
  background-color: var(--color-primary);
  opacity: 0.8;
}

.quote-area i {
  font-size: 20px;
  color: var(--color-primary);
}

.author {
  font-style: italic;
  align-self: flex-end;
}

.btn {
  font-family: inherit;
  align-self: flex-end;
  padding: 8px 16px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.loading {
  opacity: 0.7;
  pointer-events: none;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.icons i {
  font-size: 16px;
  color: var(--color-primary);
  margin-right: 5px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  cursor: pointer;
  transition: all 0.2s;
}

.icons i:hover {
  color: #fff;
  background: var(--color-primary);
}

.tooltip {
  position: absolute;
  font-size: 14px;
  left: 0;
  bottom: -125%;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s;
}
